/compCars
/stanford-cars
/tf-env
/compcars_cctv/extracted
code/anno_test.csv
code/anno_train.csv
/Vehicle-Make-v1
/archive
*.keras
*.h5
test_predictions.txt
*__pycache__
*env
*logs/
*log
*paths.local.sh
*.btr
/archive/